@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@* Main Slider *@
@Html.Partial("./Layouts/_MainSlider")


<!-- Page Content -->
<!-- /.row -->
<!-- Products Section -->
<section class="container" style="padding: 20px 0px;">
    @Html.Partial("./Layouts/_FeaturedProducts")
</section>

<!-- /.row -->
<!-- Services Section -->
<section class="container-fluid bg-light" style="padding: 20px;">
    @Html.Partial("./Layouts/_FeaturedServices")
</section>

<!-- /.row -->
<!-- Services Section -->
<section class="container" style="padding: 20px 0px;">
    @Html.Partial("./Layouts/_FeaturedProjects")
</section>

<!-- /.row -->
<!-- Featured Video Section -->
@*@Html.Partial("./Layouts/_FeaturedVideo")*@
<!-- /.row -->
<hr>
<!-- Featured Customers -->
<section class="container-fluid bg-light" style="padding: 20px;">
    @Html.Partial("./Layouts/_CustomersTestimonials")
</section>
<!-- /.container -->
